#sidebar {
padding-left:20px;
width:250px;
float: right;
overflow: hidden;
}
.tool-box{
	width: 125px;
	float: left;
	margin-bottom: 0.0em;
}
.tool-box a{
color: #0087D2;
}
.tool_title{
margin-bottom: -0.7em;
}
.user_name a{
color: #000;
}
div#sidebar li{
	list-style-type: none;
	margin-left: -3.0em;
}


#profile_content{
float: left;
width: 500px;
}
#profile_content li{
margin-left: -3em;
}

